@import "header";
@import "footer";
@import "variables";

body {
    background-image: url("https://fondosmil.com/fondo/10863.jpg");
    height: auto;
    width: 100%;
    color: rgb(243, 233, 233);
    min-width: 900px;
    display: flex;
    flex-direction: column;


    main {
        padding: 3%;
        background-color: black;
        margin-top: 200px;

        .contenedor__card--modificador {
            justify-content: center;
            background-image: url("https://fondosmil.com/fondo/10863.jpg");
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            text-align: center;
            padding: 20px;
            row-gap: 50px;
            justify-content: space-between;

            .card {


                .card-body {

                    h5 {
                        color: chocolate;
                    }

                    p {
                        color: black;
                    }
                }





            }
        }




    }

}

@media all and (max-width: 576px) {

    body {
        min-width: auto;

        header {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        main {
            .contenedor__card--modificador {
                display: flex;
                background-color: orange;
                flex-direction: column;
                text-align: center;
                padding-top: 20px;
                gap: 20px;
            }


        }
    }
}